* {
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    font-size: 14px;
    background-color: #F4F4F4;
    color: #ADADAD;
}

.form-control:focus,
.form-select:focus {
    border-color: black;
    box-shadow: 0px 0px 0px black;
}

.line {
    border-bottom: 1px solid lightgrey;
}

.sidebar-item {
    font-size: 12px;
}

.sidebar-item:hover {
    border-color: black;
    box-shadow: 0px 0px 0px black;
    background-color: white;
    color: black;
    font-weight: bold;
    background: linear-gradient(to left, lightgrey 100%, lightgrey 1%) right;
    background-size: 200% 100%;
    border-radius: 5px;
}

.product-by-division {
    background-color: #F8F8F8;
    border: 1px solid lightgrey;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.cart-btn,
.cart-btn-success {
    background-color: #f0544f;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: none;
    color: #fff;
}

.cart-btn-success {
    background-color: #008060;
}

.cart-btn:hover {
    background-color: #dd5550;
}

.cart-btn-success:hover {
    background-color: #03684f;
}

.btn-add-to-cart {
    background-color: #B50B20;
    color: white;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-add-to-cart:hover {
    border: 1px solid #B50B20;
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url('./images/menu.svg') !important;
}

.btn-ft {
    height: 22px;
    width: 40px;
    border-radius: 2px;
    background-color: #D9D9D9;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.bg-pm {
    background-color: #D9D9D9;
    border-radius: 2px;
}

.btn-confirm-order {
    background-color: #F97D49;
    border: none;
    height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-close:focus {
    box-shadow: none !important;
}

::selection {
    color: white !important;
    background-color: #B50B20 !important;
}

.btn-email {
    background-color: transparent;
    border: 1px solid #DADADA;
    border-radius: 7px;
    width: 162px;
    height: 46px;
    font-size: 14px;
}

.btn-email:hover {
    background-color: #1e88e5;
    color: white;
}

.btn-message {
    background-color: transparent;
    width: 162px;
    height: 46px;
    border: 1px solid #70C43F;
    border-radius: 7px;
    margin-left: 22px;
    font-size: 14px;
}

.btn-message:hover {
    background-color: #70C43F;
    color: white;
}

.btn-add-add-items-to-bag {
    width: 197px;
    height: 32px;
    background-color: #D9D9D9;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}

.btn-add-add-items-to-bag:hover {
    background-color: #c0bcbc;
}