* {
    font-family: 'Open Sans', sans-serif;
}

.form-control:focus,
.form-select:focus {
    border-color: black;
    box-shadow: 0px 0px 0px black;
}

.line {
    border-bottom: 1px solid lightgrey;
}

.sidebar-item {
    font-size: 12px;
}

.sidebar-item:hover {
    border-color: black;
    box-shadow: 0px 0px 0px black;
    background-color: white;
    color: black;
    font-weight: bold;
    /* background-color: lightgrey; */
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)) right; */
    background: linear-gradient(to left, lightgrey 100%, lightgrey 1%) right;
    background-size: 200% 100%;
    border-radius: 5px;
}

.product-by-division {
    background-color: #F8F8F8;
    border: 1px solid lightgrey;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.cart-btn,
.cart-btn-success {
    /* background-color: lightgrey; */
    background-color: #f0544f;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: none;
    color: #fff;
}

.cart-btn-success {
    background-color: #008060;
}

.cart-btn:hover {
    background-color: #dd5550;
}

.cart-btn-success:hover {
    background-color: #03684f;
}